//düzenlenecek, örnek teşkil etmesi için
$max-width: 1200px;
$primary-color: white;
$light-color: #eae6da;
$dark-color: black;
$button-color: #0582ff;
$button-hover-color: #ebf5fe;
$button-dark-hover-color: rgba(0, 0, 0, 0.505);
$bg-image: url("/public/img/eyfel-kulesi.jpg");
